.calculator {
    width: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .display {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 14px 34px;
    color: #000;

  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .buttons button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    color: #000;
  }
  
  .buttons button:hover {
    background-color: #e0e0e0;
  }
  